html {
  box-sizing: border-box;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  padding: 0;
  margin: 0;
}

.left {
  width: 40px;
  float: left;
}

.right {
  width: 40px;
  float: right;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2rem;
}

nav li {
  color: #fff;
  display: inline;
  border: 1px solid #a63f38;
  float: left;
  width: 33.33%;
  font-size: 1.125rem;
}

nav a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
}

nav ul {
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

nav li:hover {
  background-color: #a63f38;
}

nav a:hover {
  background-color: #a63f38;
}

body {
  padding: 0;
  margin: 0;
}
